ion-content{
    --ion-background-color: var(--mi-variable-button);
    
}
ion-header{
    --ion-background-color: var(--mi-variable-fondo);
    
}
ion-toolbar{
    color: white;
}

ion-list{
    margin-top: 0px;
    padding-top: 0px;
}