ion-content{
    --ion-background-color: var(--mi-variable-button);    
}
ion-header{
    --ion-background-color: var(--mi-variable-fondo);
    
}
ion-toolbar{
    color: white;  
}

ion-avatar{
    height: 160px ;
    width: 100%;
}

ion-avatar img{
width: 150px;
height: 150px;
}

.icons{
    font-size: 25px;
}